*{   font-family: sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
    overflow-x: hidden;
}
header{position: relative;
    background-color: black;
    height: 80px;
}
.sptf-imm{position: relative;
    width: 128px;
    height: 40px;
    left: 19.92%;
    transform: translateY(50%)
    
   
}

ul{ position: relative;
    color: rgb(255, 255, 255);
    list-style: none; 
   font-size: 0.96rem;
}
li{
    padding: 18px;
}
.li-1{ 
 display: flex;
 transform: translateY(-56%);
 left: 53.3%
 
}
.li-2{ position: absolute;
 display: flex;
 transform: translateY(-155%);
 left: 69.5%
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(69, 192, 69);
}

main{
    background-image: url(../images/fundo-azul.jpg);
    height: 950px;
    background-size: cover;
    background-position-x: -1%;
    background-position-y: 100%; 
}

h1{
    color: white;
    font-size: 138px;
    font-family:  sans-serif;
    font-weight: bolder;
    text-align: center;
    transform: translateY(75%);
}

p{ 
    color: white;
    font-size: 17px;
    font-family:  sans-serif;
    font-weight: bolder;
    text-align: center;
    transform: translateY(1420%); 
 }

 .bnt{
     background-color: black;
     color: white;
     padding: 18px;
     border-radius: 25px;
     transform: translate(440%, 580% );
 }

 .bnt:hover{
    background-color: black;
    color: rgb(69, 192, 69);
 }
